/* #about-content {
 
} */

#about-content .content{
    text-align: center;
}

#about-content .profile-picture{
    border: 2px solid #1b1b1b;
    background-image: url(../img/profile-picture.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 2rem;
}

#about-content .presentation,
#about-content .tecnologies {
    padding-left: 15px;
    padding-right: 15px;
}

#about-content span.text {
    text-align: center;
    
}
