

#work-content .card {
    margin-bottom: 25px;
    box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
    height: 100%;
    
}

#work-content .card img{
    min-height: 240px;
    transition: all 1s ease-in-out;
}
.App.mobile #work-content .card img{
    min-height: auto;
}

#work-content .card img:hover{
    transform: scale(1.1);
}

#work-content .card .img-content {
    overflow: hidden;
}

#work-content .card a.btn {
    border: none;
    border-radius: 0;
    background: #1b1b1b;
    position: absolute;
    right: 15px;
    bottom: 15px;
}

#work-content .card .card-text a {
    color: #1b1b1b;
    text-decoration: underline;
}