:root{
  --main-color: red;
  --main-color-hover: red;
  --secondary-color: blue;
  --secondary-color-hover: blue;
  --header-height: 80px
}

html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  overflow-x: hidden;
}

#content{
  margin-top: var(--header-height);
}

button.btn-noborders{
  border: none;
  box-shadow: none;
  outline: none;
}
button.btn-transparent{
  background: transparent;
}
button.btn-icon{
  border: none;
  box-shadow: none;
  outline: none;
  background: transparent;
}